In [52]:
l1=[]
a=0
for a in range(1,4):
    data= input(" Create a list of 10 elements of four different data types like int, string, complex and float.")
    l1.append(data)
    
#l1 =','.join(l1)
print(l1)

 Create a list of 10 elements of four different data types like int, string, complex and float.5
 Create a list of 10 elements of four different data types like int, string, complex and float.2.5
 Create a list of 10 elements of four different data types like int, string, complex and float."charmy
['5', '2.5', '"charmy']

In [1]:
# 1. Create a list of 10 elements of four different data types like int, string, complex and float.

list = [2, 6.89,"Charmy", (9+79j), 77.18, 560, "Krunal", "Jon", 10+12j, 99]
print(list)

[2, 6.89, 'Charmy', (9+79j), 77.18, 560, 'Krunal', 'Jon', (10+12j), 99]

In [3]:
#2. Create a list of size 5 and execute the slicing structure

list_slicing = [8, 2.5, 100, "Charmy", "Padmani"]
print(list_slicing[2:4])

[100, 'Charmy']

In [7]:
# 3. Write a program to get the sum and multiply of all the items in a given list.

list3= [2, 8, 1, 8, 5, 6]
sum=0
mul=1
for i in list3:
    sum = i + sum
    mul = i * mul
print(list1)
print("sum of list item ", sum) 
print("multiply of list item ", mul)

[2, 8, 1, 8, 5, 6]
sum of list item  30
multiply of list item  3840

In [15]:
# 4. Find the largest and smallest number from a given list.

list4 = [2, 25, 89, 254, 245, 4, 0]
print(list4)
print("min number: ",min(list4))
print("max number: ", max(list4))

[2, 25, 89, 254, 245, 4, 0]
min number:  0
max number:  254

In [16]:
# 5. Create a new list which contains the specified numbers after removing the even numbers from apredefined list.

list5 =[25, 22, 98, 100, 26.03, 99, 56.22, 3.1]
new_list= [x for x in list5 if x%2!=0]
print(new_list)

[25, 26.03, 99, 56.22, 3.1]

In [26]:
# 6. Create a list of elements such that it contains the squares of the first and last 5 elements between
# 1 and30 (both included).

list6=[]
for x in range(1,31): 
     list6.append(x**2)
print(list6[:5] + list6[-5:])

[1, 4, 9, 16, 25, 676, 729, 784, 841, 900]

In [27]:
# 7. Write a program to replace the last element in a list with another list.
# Sample input: [1,3,5,7,9,10], [2,4,6,8]
# Expected output: [1,3,5,7,9,2,4,6,8]

list7 = [1,3,5,7,9,10]
another_list = [2,4,6,8]
print(list7[:-1]+another_list)

[1, 3, 5, 7, 9, 2, 4, 6, 8]

In [36]:
# 8 Create a new dictionary by concatenating the following two dictionaries:
#Sample input: a={1:10,2:20} b={3:30,4:40}
#Expected output: {1:10,2:20,3:30,4:40}

a={1:10,2:20}
b={3:30,4:40}
print
print(a.update(b))
print(a)

None
{1: 10, 2: 20, 3: 30, 4: 40}

In [51]:
#  9. Create a dictionary that contain numbers in the form(x:x*x) where x takes all the values between 1
#and n(both 1 and n included).
#Sample input: n=5
#Expected output: {1:1, 2:4, 3:9, 4:16, 5:25}

n = int(input("enter lenth of the dictionary : "))
dic9 ={}
print(n)
for i in range(1, n+1):
    dic9[i] = i*i
    #dic9.update(dic9)
print(dic9)

enter lenth of the dictionary : 5
5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [54]:
# 10. Write a program which accepts a sequence of comma-separated numbers from console and
#generates a list and a tuple which contains every number in the form of string.
#Sample input: 34,67,55,33,12,98
#Expected output: [‘34’,’67’,’55’,’33’,’12’,’98’] (‘34’,’67’,’55’,’33’,’12’,’98’)

numb = input("Type in numbers seperated only by a comma :")
num_split = numbers.split(',')

print(tuple(num_split))
print(num_split)

Type in numbers seperated only by a comma :58,20,14,56,97,100
('22', '25', '48', '54', '14', '10', '21')
['22', '25', '48', '54', '14', '10', '21']